---
import Layout from '../../layouts/Layout.astro';
import Navigation from '../../components/Navigation.astro';
import Hero from '../../components/Hero.astro';
import SocialProof from '../../components/SocialProof.astro';
import Features from '../../components/Features.astro';
import HowItWorks from '../../components/HowItWorks.astro';
import UseCases from '../../components/UseCases.astro';
import Dashboard from '../../components/Dashboard.astro';
import FinalCTA from '../../components/FinalCTA.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
	<Navigation />
	<main>
		<Hero />
		<SocialProof />
		<Features />
		<HowItWorks />
		<UseCases />
		<Dashboard />
	</main>
	<FinalCTA />
	<Footer />
</Layout>
